* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: white;
  background: rgb(40, 37, 37);
}

header {
  text-align: center;
  border: 1px solid white;
  margin-inline: 0;
  margin-block-start: 5%;
  background: rgb(18, 17, 17);
}

nav {
  border: 1px solid white;
  margin-block-end: 5%;
  background: rgb(18, 17, 17);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  font-size: 1.3rem;
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.profile-main {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1rem;
}

.q-card {
  background: rgb(18, 17, 17);
  border: 1px solid white;
  margin: 0.5rem 1rem;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
  position: relative;
  max-width: 25rem;
  min-height: 18rem;
}

p {
  margin: 0;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  border: 1px solid white;
  border-radius: 0.8rem;
  padding: 0.5rem;
}

#q1 .answer {
  /* display: none; */
  visibility: hidden;
}

.answer-button {
  background: transparent;
  color: rgb(217, 141, 0);
  border: 1px solid rgb(217, 141, 0);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.answer-button:hover {
  color: rgb(0, 157, 0);
  border-color: rgb(0, 157, 0);
  font-weight: bold;
  background-color: rgb(18, 17, 17);
}

.bookmark {
  font-size: 2rem;
  color: white;
  background: rgb(18, 17, 17);
  padding: 0;
  border: 0;
  position: absolute;
  top: -0.7rem;
  right: 1rem;
}

.opened {
  color: rgb(217, 141, 0);
}

.photo-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 0.5rem 1rem;
}

#avatar {
  width: 30%;
  max-width: 40rem;
  border-radius: 100%;
}

.counters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.counter {
  background: rgb(18, 17, 17);
  border: 1px solid white;
  border-radius: 0.8rem;
  padding: 0.5rem;
}
