@import "./global.css";
@import "./components/header.css";
@import "./components/navigation.css";
@import "./components/card.css";
@import "./components/button.css";
@import "./components/bookmark.css";
@import "./components/profile.css";

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
}
