.form--new-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
  border: 0;
  padding: 0;
}

.legend {
  font-weight: bold;
  padding-block: 1rem;
}

.div--new-categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button--create-card {
  margin-block: 1rem;
}

.p--counter {
  align-self: end;
  font-size: 0.7rem;
}
