.answer-button {
  background: transparent;
  color: rgb(217, 141, 0);
  border: 1px solid rgb(217, 141, 0);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.answer-button-hide {
  color: rgb(0, 157, 0);
  border-color: rgb(0, 157, 0);
}
