.answer-button {
  background: transparent;
  color: var(--first-accent-color);
  border: 1px solid var(--first-accent-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.answer-button-hide {
  color: var(--second-accent-color);
  border-color: var(--second-accent-color);
}
