nav {
  border: 1px solid white;
  margin-block-end: 5%;
  background: rgb(18, 17, 17);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  font-size: 1.3rem;
  color: white;
}

.opened {
  color: rgb(217, 141, 0);
}
