nav {
  border: 1px solid var(--color-white);
  background: var(--first-background-color);
  width: 100%;
  max-width: 600px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  font-size: 1.3rem;
  color: var(--color-white);
}

.li--state-active {
  color: var(--first-accent-color);
}
